@font-face { 
  font-family: 'SaraojonatanFont'; 
  src: 
      url('fonts/fathony_king_demo.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Regular'), url('fonts/AveriaSerifLibre-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Italic'), url('fonts/AveriaSerifLibre-Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Light'), url('fonts/AveriaSerifLibre-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Light Italic'), url('fonts/AveriaSerifLibre-LightItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Bold'), url('fonts/AveriaSerifLibre-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Bold Italic'), url('fonts/AveriaSerifLibre-BoldItalic.woff') format('woff');
  }


body {
  background-color: #faf2eb;
  margin: 0rem; /* removes edge margin */
}

html::-webkit-scrollbar {
  display: none
};

html {
  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#container {
  /* justify-content: center; */
  display: flex;
  width: 100%;
  font-family: 'Averia Serif Libre Light';
  color: #35302D;
}

#left-panel {
  width: 25%;
  align-content: left;
  display: block;
  margin-top: 191px;
  padding-top: 50px;
}

@media screen and (max-width: 600px) {
  #left-panel {
    display: none;
    visibility: hidden;
  }
}

#main-panel {
  margin: 175px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  flex: 1;
  width: 50%;
}

@media screen and (max-width: 600px) {
  #main-panel {
    margin: 0px 0px 20px 0px;
    padding: 0px;
  }
}

#right-panel {
  width: 25%;
  align-content: right;
  display: block;
  margin-top: 191px;
  padding-top: 50px;
}

@media screen and (max-width: 600px) {
  #right-panel {
    display: none;
    visibility: hidden;
  }
}

.top-margin-side-panels {
  margin-top: 106px;
}

p {
  color: #35302D;
  padding: 0rem 10rem 0rem 10rem;
  line-height: 40px;
}

@media screen and (max-width: 600px) {
  p {
    line-height: 34px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph-div {
    margin: 0px 100px 0 100px;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph-div-small {
    margin: 0px 300px;
  }
}

.titles {
  font-size: 28px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  padding: 0.5rem 0rem 0.5rem 0rem;
  color: #35302D;
}

@media screen and (max-width: 1200px) {
  .titles {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .titles {
    font-size: 20px;
    padding: 0rem;
    margin: 20px 0px 5px 0px;
  }
}

.capital-text {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  color: #35302D;
}

@media screen and (max-width: 1200px) {
  .capital-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .capital-text {
    font-size: 16px;
    padding: 0rem;
    margin: 0px;
  }
}

.info-text-big {
  font-size: 28px;
  font-weight: normal;
  font-style: italic;
  padding: 0rem 0rem 0rem 0rem;
  color: #35302D;
}

@media screen and (max-width: 1200px) {
  .info-text-big {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .info-text-big {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }
}

.info-text {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  padding: 0px 25px 10px 25px;
  color: #35302D;
  line-height: 160%;
  
}

@media screen and (max-width: 1200px) {
  .info-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .info-text {
    font-size: 16px;
  }
}

.info-text-small {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 160%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #35302D;
}

@media screen and (max-width: 1200px) {
  .info-text-small {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .info-text-small {
    font-size: 16px;
  }
}

#line-broken-text {
  line-height: 200%;
}

#saraojonatan {
  color: #35302D;
  font-family: 'SaraojonatanFont', sans-serif;
  font-weight: lighter;
  font-size: 160px;
  margin: 30px 0px 20px 0px;
}

@media screen and (max-width: 1200px) {
  #saraojonatan {
    font-size: 100px;
  }
}

@media screen and (max-width: 600px) {
  #saraojonatan {  
    font-size: 80px;
  }
}

#osa-button {
  width: 294px;
  height: 70px;
  margin-bottom: 25px;
  font-family: 'Averia Serif Libre Light';
  font-size: 28px;
  text-transform: uppercase;
  border: 1px black solid;
  background-color: #FFFBF5;
  
}

@media screen and (max-width: 600px ) {
  #osa-button {
    font-size: 20px;
    width: 240px;
    height: 56px;
  }
}

.common-section {
  margin: 10rem 0rem 10rem 0rem;
}

@media screen and (max-width: 1200px) {
  .common-section {
    margin: 7rem 0rem 7rem 0rem;
  } 
}

@media screen and (max-width: 600px) {
  .common-section {
    margin: 0rem 0rem 0rem 0rem;
  } 
}

/* === image styling === */

.center-img {
  max-height: 140px;
}

@media screen and (max-width: 1200px) {
  .center-img {
    max-height: 120px;
  }
}

@media screen and (max-width: 600px) {
  .center-img {
    max-height: 80px;
  }
}

#vigsel-img {
  max-width: 233px;
  max-height: 110px;
}

@media screen and (max-width: 600px) {
  #vigsel-img {
    max-width: 168px;
    max-height: 79px;
  }  
}

#ginkoblad-img {
  max-width: 120px;
  max-height: 137px;
}

@media screen and (max-width: 600px) {
  #ginkoblad-img {
    max-width: 70px;
    max-height: 80px;
  }
}

#middag-img {
  max-width: 320px;
  max-height: 235px;
}

@media screen and (max-width: 1200px) {
  #middag-img {
    max-width: 270px;
    max-height: 200px;
  }
}

@media screen and (max-width: 600px) {
  #middag-img {
    max-width: 216px;
    max-height: 159px;
  }
}

#skjorta-img {
  max-width: 230px;
  max-height: 280px;
}

@media screen and (max-width: 1200px) {
  #skjorta-img {
    max-width: 210px;
    max-height: 255px;
  }
}

@media screen and (max-width: 600px) {
  #skjorta-img {
    max-width: 189px;
    max-height: 231px;
  }
}

#overnattning-img {
  max-width: 339px;
  max-height: 260px;
}

@media screen and (max-width: 1200px) {
  #overnattning-img {
    max-width: 285px;
    max-height: 218px;
  }
}

@media screen and (max-width: 600px) {
  #overnattning-img {
    max-width: 230px;
    max-height: 176px;
  }
}

#tal-img {
  max-width: 220px;
  max-height: 301px;
}

@media screen and (max-width: 1200px) {
  #tal-img {
    max-width: 180px;
    max-height: 245px;
  }
}

@media screen and (max-width: 600px) {
  #tal-img {
    max-width: 137px;
    max-height: 188px;
  }
}

#liljekonvalj-img {
  max-width: 256px;
  max-height: 329px;
  margin: 60px 0px 160px;
}

@media screen and (max-width: 1200px) {
  #liljekonvalj-img {
    max-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  #liljekonvalj-img {
    max-height: 140px;
  }
}

.left-side-panel-img {
  float: left;
  margin: 0rem 0rem 5rem 0rem;
  max-width: 265px;
}

@media screen and (max-width: 1200px) {
  .left-side-panel-img {
    float: left;
    margin: 0rem 0rem 5rem 0rem;
    max-width: 200px;
  }
}

.right-side-panel-img {
  float: right;
  margin: 0rem 0rem 5rem 0rem;
  max-width: 265px;
}

@media screen and (max-width: 1200px) {
  .right-side-panel-img {
    float: right;
    margin: 0rem 0rem 5rem 0rem;
    max-width: 200px;
  }
}

table {
  border-spacing: 0rem;
}

@media screen and (max-width: 600px) {
  table {
    display: none;
  }
}

.empty {
  display: block;
  visibility: hidden;
  height: 160px;
}

/* mobile */

.mobile-flower-img {
  max-height: 140px;
  max-width: 100px;
}

.mobile-img-div {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 601px) {
  .mobile-img-div {
    display: none;
  } 
}

.mobile-img-div-left {
  flex: 1;
  float: left;
  text-align: left;
}

.mobile-img-div-right {
  flex: 1;
  float: right;
  text-align: right;
}

#mobile-forgetmigej-img {
  max-width: 73px;
  max-height: 122px;
}

#mobile-rosa-pion-img {
  max-width: 78px;
  max-height: 102px;
}

#mobile-tistel-img {
  max-width: 93px;
  max-height: 197px;
}

#mobile-malva-img {
  max-width: 133px;
  max-height: 231px;
}

#mobile-morkrosa-pion-img {
  max-width: 100px;
  max-height: 93px;
}

#mobile-blaklint-img {
  max-width: 135px;
  max-height: 130px;
}

#mobile-lojtnanthjarta-img {
  max-width: 99px;
  max-height: 105px;
}

#mobile-klover-img {
  max-width: 54px;
  max-height: 103px;
}

#mobile-ros-img {
  max-width: 84px;
  max-height: 116px;
}

#mobile-rosa-blomma-img {
  max-width: 74px;
  max-height: 150px;
}

#mobile-vallmo-rod-img {
  max-width: 84px;
  max-height: 116px;
}

/* side panel images */

#morkrosa-pion-side-img {
  max-width: 237px;
  max-height: 220px;
}

#tistel-side-img {
  max-width: 200px;
  max-height: 424px;
}

#forgetmigej-side-img {
  max-width: 173px;
  max-height: 288px;
}

#rosa-pion-side-img {
  max-width: 180px;
  max-height: 235px;
}

#lila-blomma-side-img {
  max-width: 182px;
  max-height: 318px;
}

#vallmo-rod-side-img {
  max-width: 229px;
  max-height: 268px;
}

#malva-side-img {
  max-width: 259px;
  max-height: 555px;
}

#blaklint-side-img {
  max-width: 265px;
  max-height: 315px;
}

#lojtnanthjarta-side-img {
  max-width: 180px;
  max-height: 194px;
}

#ros-side-img {
  max-width: 180px;
  max-height: 248px;
}

#rosa-blomma-side-img {
  max-width: 116px;
  max-height: 292px;
}

#vallmo-rosa-side-img {
  max-width: 252px;
  max-height: 292px;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  #morkrosa-pion-side-img {
    max-width: 120px;
    max-height: 110px;
  }
  
  #tistel-side-img {
    max-width: 100px;
    max-height: 212px;
  }
  
  #forgetmigej-side-img {
    max-width: 86px;
    max-height: 144px;
  }
  
  #rosa-pion-side-img {
    max-width: 90px;
    max-height: 117px;
  }
  
  #lila-blomma-side-img {
    max-width: 91px;
    max-height: 159px;
  }
  
  #vallmo-rod-side-img {
    max-width: 114px;
    max-height: 134px;
  }
  
  #malva-side-img {
    max-width: 129px;
    max-height: 277px;
  }
  
  #blaklint-side-img {
    max-width: 132px;
    max-height: 157px;
  }
  
  #lojtnanthjarta-side-img {
    max-width: 90px;
    max-height: 97px;
  }
  
  #ros-side-img {
    max-width: 90px;
    max-height: 124px;
  }
  
  #rosa-blomma-side-img {
    max-width: 58px;
    max-height: 146px;
  }
  
  #vallmo-rosa-side-img {
    max-width: 126px;
    max-height: 146px;
  }
}

/* === modal styling === */

#form {
  margin: 0% auto; /* 15% from the top and centered */
  width: 640px;
  height: 100%;
  max-height: 850px;
}

@media screen and (max-width: 600px) {
  #form {
    width: 380px;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #faf2eb;
  margin: auto auto; /* 15% from the top and centered */
  /* padding: 15px; */
  border: 1px solid #888;
  height: 100%;
  width: fit-content; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 900px;
}

/* The Close Button */
.close {
  color: #76726e;
  float: right;
  font-size: 80px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}


@media screen and (max-width: 600px) {
  .close {
    margin: 0px;
  }
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* TODO
+ För surfplatta
 - minska avstånd mellan sektioner
 - Öka storlek på skjortan, glaset och tallriken
 
+ För mobil
 - Minska ginkoblad ca 10% typ
 - Tajta till första stycket med välkomsttext mm
 - Fixa storlekarna för sidobilderna

+ Fixa krysset till höger sida 

+ Anmälan knapptexten är blå på Ipaden

+ Innehåll!!! Mer om övernattning och logistiken?

+ Refaktorisera 
 - div hell, minska onödiga divar 
 - överväg att dela isär de olika media screen anpassningarna till egna css filer eller strukturera om
 - 

+ Ny illustration för Vättern! SARA!

