@font-face { 
  font-family: 'SaraojonatanFont'; 
  src: 
      url('fonts/fathony_king_demo.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Regular'), url('fonts/AveriaSerifLibre-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Italic'), url('fonts/AveriaSerifLibre-Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Light'), url('fonts/AveriaSerifLibre-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Light Italic'), url('fonts/AveriaSerifLibre-LightItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Bold'), url('fonts/AveriaSerifLibre-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Averia Serif Libre Bold Italic'), url('fonts/AveriaSerifLibre-BoldItalic.woff') format('woff');
  }


body {
  background-color: #faf2eb;
  margin: 0rem; /* removes edge margin */
}

html::-webkit-scrollbar {
  display: none
};

html {
  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#container {
  /* justify-content: center; */
  display: flex;
  width: 100%;
  font-family: 'Averia Serif Libre Light';
  color: black;
}

#left-panel {
  width: auto;
  align-content: left;
  display: block;
}

@media screen and (max-width: 600px) {
  #left-panel {
    display: none;
    visibility: hidden;
  }
}

#main-panel {
  margin: 80px 155px 20px 155px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  flex: 1;
  width: auto;
  /* max-width: 946px; */
}

@media screen and (max-width: 600px) {
  #main-panel {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px;
  }
}

#right-panel {
  width: auto;
  align-content: right;
  display: block;
}

@media screen and (max-width: 600px) {
  #right-panel {
    display: none;
    visibility: hidden;
  }
}

p {
  color:black;
  padding: 0rem 10rem 0rem 10rem;
}

.titles {
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  padding: 0.5rem 0rem 1rem 0rem;
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 1200px) {
  .titles {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .titles {
    font-size: 20px;
    padding: 0rem;
  }
}

.capital-text {
  font-size: 28px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  padding: 1rem 0rem 1rem 0rem;
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 1200px) {
  .capital-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .capital-text {
    font-size: 18px;
    padding: 0rem;
  }
}

.info-text-big {
  font-size: 28px;
  font-weight: normal;
  font-style: italic;
  padding: 0rem 0rem 0.5rem 0rem;
  color: rgba(0, 0, 0, 0.9);
}

.info-text {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  padding: 0rem 0rem 0.5rem 0rem;
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 1200px) {
  .info-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .info-text {
    font-size: 18px;
  }
}

.info-text-small {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 160%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 1200px) {
  .info-text-small {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .info-text-small {
    font-size: 16px;
  }
}

#line-broken-text {
  line-height: 200%;
}

#saraojonatan {
  color: #35302d;
  font-family: 'SaraojonatanFont', sans-serif;
  font-weight: lighter;
  font-size: 160px;
  margin: auto;
  padding: 1rem 0rem 2rem 0rem;
}

@media screen and (max-width: 1200px) {
  #saraojonatan {
    font-size: 100px;
  }
}

@media screen and (max-width: 600px) {
  #saraojonatan {  
    font-size: 80px;
  }
}

#osa-button {
  width: 20rem;
  height: 5rem;
  font-family: 'Averia Serif Libre Light';
  font-size: 28px;
  text-transform: uppercase;
  border: 1px black solid;
  background-color: #FFFBF5
}

@media screen and (max-width: 600px ) {
  #osa-button {
    font-size: 20px;
    width: 240px;
    height: 56px;
  }
}

@media screen and (min-width: 601px ) {
  .non-mobile-section {
    margin: 6rem 0rem 6rem 0rem;
  }
}

#form {
  margin: 1rem 2rem;
  width: 100%
}

.center-img {
  max-height: 140px;
}

@media screen and (max-width: 1200px) {
  .center-img {
    max-height: 120px;
  }
}

@media screen and (max-width: 600px) {
  .center-img {
    max-height: 80px;
  }
}

#middag-img {
  max-height: 180px;
}

@media screen and (max-width: 1200px) {
  #middag-img {
    max-height: 160px;
  }
}

@media screen and (max-width: 600px) {
  #middag-img {
    max-height: 120px;
  }
}

#skjorta-img {
  max-height: 220px;
}

@media screen and (max-width: 1200px) {
  #skjorta-img {
    max-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  #skjorta-img {
    max-height: 140px;
  }
}

#overnattning-img {
  max-height: 220px;
}

@media screen and (max-width: 1200px) {
  #overnattning-img {
    max-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  #overnattning-img {
    max-height: 140px;
  }
}


#tal-img {
  max-height: 220px;
}

@media screen and (max-width: 1200px) {
  #tal-img {
    max-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  #tal-img {
    max-height: 140px;
  }
}

#liljekonvalj-img {
  max-height: 300px;
  margin: 60px 0px 160px;
}

@media screen and (max-width: 1200px) {
  #liljekonvalj-img {
    max-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  #liljekonvalj-img {
    max-height: 140px;
  }
}


.mobile-flower-img {
  max-height: 140px;
  max-width: 100px;
}

.left-side-panel-img {
  float: left;
  margin: 0rem 0rem 5rem 0rem;
  max-width: 180px;
}

.right-side-panel-img {
  float: right;
  margin: 0rem 0rem 5rem 0rem;
  max-width: 180px;
}

table {
  border-spacing: 0rem;
}

@media screen and (max-width: 600px) {
  table {
    display: none;
  }
}

.empty {
  display: block;
  visibility: hidden;
  height: 160px;
}

.mobile-img-div {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 601px) {
  .mobile-img-div {
    display: none;
  } 
}

.mobile-img-div-left {
  flex: 1;
  float: left;
  text-align: left;
}

.mobile-img-div-right {
  flex: 1;
  float: right;
  text-align: right;
}

#mobile-forgetmigej {
  max-height: 80px;
}

#mobile-rosa-pion {
  max-height: 80px;
}

/* Modal styling */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #faf2eb;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
  display: flex;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 4px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}